.row {
  padding: 1.5rem;
}

.row--posters {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 4rem;
  grid-row-gap: 2rem;
  padding: 1rem;
}

.poster {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
  box-shadow: 1px 2px 2px hsla(225, 40%, 4%, 0.333),
    2px 4px 4px hsl(220deg 60% 50% / 0.333),
    3px 6px 6px hsl(220deg 60% 50% / 0.333);
}
